:root{
    --primary-bg-col:rgb(33, 37, 41);
    --sec-bg-col:rgba(17, 17, 16, 0.534);
    --special-fonts:orange;
    --primary-font-col:white;
    --sec-font-col:rgb(108, 117, 125)
    ;
    --primary-border-col:rgba(0,0,0,.84);
    --sec-border-col:rgba(0,0,0,.04);
}
/* removes outline */
[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border:none;
  outline:none;
}
.tool-bar{
    width: fit-content;
    padding: 1em;
    /* border: 2px solid #333; */
}
.tool-bar ul{
    display: flex;
    /* flex-direction: row; */
}
.tool-bar button{
    min-width: 2em;
}
.tool-bar *{
    margin: 0;
    padding: 0;
}
.tableParams,.img-loader{
    display: none;
}
 .show{
    display: block;
}
.tableParams input{
    width: 2em;
}
/* table  */
#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
  
  #table td, #table th {
    padding: 8px;
    /* background-color: var(--primary-bg-col); */
  }
  
  #table tr:nth-child(even){background-color:var(--sec-bg-col);}
  
  #table tr:hover {background-color: rgb(69, 69, 69);}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--special-fonts);
    color: var(--primary-font-col);
  }
/* Buttons */
.editorbutton{

    background-color: var(--special-fonts); /* Green */
    color: white;
}
.editorbutton,input,#save{
        border: none;
        padding: 0.4em 0.7em ;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        margin-right: 1em;     
}
.btn-container{
    display: flex;
    justify-content:start;
    
}
#save{
    margin-left: 1em;
    color: white;
    background-color: #4CAF50;
}

/* snackbar / toast */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
